#scroll-btn {
    color: #0FCA42;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    position: relative;
    top: 30px;
    text-decoration: none;
    transition-property: border-radius;
    transition-duration: 1s;
}

#scroll-btn:hover {
    color: #fff;
    background-color: #0FCA42;
    border-radius: 30px;
}


.container .tech {
    margin-top: 100px;
    height: 45px;
}
.container .skill {
    max-height: 120px;
    margin-right: 50px;
    margin-bottom: 40px;
}

.container .skill:hover{
    transform: scale(1.15);
}

ola .lead{
	margin-top: -15px;
}


header{
    background-image: url("../image/head.jpg");
    background-size: cover;
	height: 100vh;
}

.center{
    margin-left: 20px;
}

k .display-4{
    height:90px;
    font-size: 55px;
    text-align:center;
    font-family: Georgia;
}

.moveright {
    text-align: right;
}



o h5{
    font-family: Georgia;
    color: #fff;
    font-size: 80px;
    margin-top: 280px;
    text-align: left;
    height: 73px;
    padding-left: 20px;
}

o #name {
    text-decoration: none;
}

o h5:hover {
    color: #0FCA42;
}

o h4{
    font-family: Georgia;
    color: #fff;
    font-size: 30px;
    font-style: italic;
    text-align: left;
    height: 50px;
    padding-left: 20px;
}

o h3{
    font-family: Georgia;
    color: #0FCA42;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;  
}

.container{
    margin-top:30px;
    margin-bottom:60px;
}

.card-header{
    margin-top:30px;
}


p{
    color: #111;
    line-height: 25px;
}

h2,h3{
    color: #fff;
}

h2{
    font-size: 18px;
}

.footer-top{
    clear: both;
    background: #0FCA42;
    padding: 50px 0;
}

.segment-one h3{
    font-family: Courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 5px 0;
}

.segment-two h2{
    font-family: Georgia;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0;
}

.segment-two h2:before{
    content: "|";
    color: #111;
    padding-right: 10px;
}

.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li{
    border-bottom: 1px solid rgba(255, 255,255, 0.3);
    line-height: 40px;
}

.segment-two ul li a{
    color: #111; 
    text-decoration: none;
}

.segment-three h2{
    font-family: Georgia;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0;
}

.segment-three h2:before{
    content: "|";
    color: #111;
    padding-right: 10px;
}

.segment-three a{
    background: #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three a i{
    font-size: 26px;
    color: #0FCA42;
    padding: 7px 7px;
}

.footer-bottom-text{
    font-family: Georgia;
    color: #0FCA42;
    text-align: center;
    background: #fff;
    line-height: 10px;
    padding: 13px;
}



@media only screen and (max-width: 983px) and (min-width: 767px){
    .container .tech {
        margin-top: 80px;
        font-size: 45px;
        height: 35px;
    }
    .container .skill {
        max-height: 100px;
        margin-right: 20px;
        margin-bottom: 35px;
    }

    header{
        background-image: url("../image/head2.jpg");
        background-size: cover;
        height: 100vh;
    }

    o h5{
        font-family: Georgia;
        color: #fff;
        font-size: 60px;
        margin-top: 250px;
        text-align: left;
        height: 60px;
    }
    
    o h4{
        font-family: Georgia;
        color: #fff;
        font-size: 25px;
        font-style: italic;
        text-align: left;
        height: 50px;
    }
    
    o h3{
        font-family: Georgia;
        color: #0FCA42;
        font-size: 18px;
        text-align: left;  
    }

    .md-mb-30{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px){
    o #scroll-btn{
        display:none;
    }
    .container .tech {
        margin-top: 50px;
        font-size: 35px;
        height: 25px;
    }
    .container .skill {
        max-height: 75px;
        margin-right: 15px;
        margin-bottom: 30px;
    }

    header {
        background-image: none;
        height: 20vh;
        background: #0FCA42;
    }

    o h5{
        font-family: Georgia;
        color: #fff;
        font-size: 30px;
        margin-top: 40px;
        text-align:left;
        height: 25px;
        margin-left: -15px;
    }
    
    o h4{
        font-family: Georgia;
        color: #fff;
        font-size: 12px;
        font-style: italic;
        text-align: left;
        height: 50px;
        margin-left: -15px;
        margin-bottom: -20px;
    }
    
    o h3{
        font-size: 0px;     
    }

   .sm-mb-30{
	    margin-bottom:30px;
    }

    .footer-top{
        padding: 50px 0;
    }

    .footer-bottom-text{
        line-height: 10px;
        padding: 10px;
        font-size:12px;
    }

    k .display-4{
        font-size:45px;
    }

    .center{
        display:table-cell;
        margin-bottom: 15px;
        max-height: 165px;
    }

    .image-wrapper{
        white-space: nowrap;
        position: relative;
        display:table;
        height:100px;
        width:100px;
        margin:0 auto;   
    }

    ola .lead{
        margin-top: -20px;
    }
}